@model IEnumerable<Natalia.Web.ViewModels.ProdutoViewModel>

<p>
    <a class="btn btn-info" asp-action="Create">Novo Produto</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
            <th>
                Fabricante
            </th>
            <th>
                Categoria
            </th>
            <th>
                Preço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Nome
            </td>
            <td>
                @item.Fabricante.Nome
            </td>
            <td>
                @item.Categoria
            </td>
            <td>
                @item.Preco.ToString("C")
            </td>
            <td class="text-right">
                <a class="btn btn-info" asp-controller="Produto" asp-action="Edit" asp-route-id="@item.Id"> Editar </a>
                <a class="btn btn-info" asp-controller="Produto" asp-action="Delete" asp-route-id="@item.Id"> Deletar</a>
            </td>
        </tr>
        }
    </tbody>
</table>